.login-block{
	width: 310px;
	margin-left: -155px;
	background-color: #fff;
	padding-top: 8px;
	padding-bottom: 8px;
}

.btn-vk,
.btn-facebook {
	padding: 9px 18px;
	font-size: 0.9rem;
	padding-left: 50px;
	position: relative;
	overflow: hidden;
	display: block;
	white-space: normal;
	width: 100%;
	margin-bottom: 6.25px;
	border: 1px solid #224084;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18),inset 0 0 1px 1px rgba(255, 255, 255, 0.09);
}

.btn-vk{
	background-color: #4d75a3;
}
.btn-facebook{
	background-color: #4063B3;
}


.btn-facebook:hover, .btn-facebook:focus {
	background-color: #4368BE;
	background-image: linear-gradient(#4368BE, #405FA7);
	text-decoration: none;
	color: white;
}


.btn-vk:hover, .btn-vk:focus {
	background-color: #5F80A7;
	background-image: linear-gradient(#5F80A7, #3D6A9C);
	text-decoration: none;
	color: white;
}

.btn, select {
	display: inline-block;
	margin-bottom: 0;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	line-height: 1.4;
	user-select: none;
	white-space: nowrap;
	cursor: pointer;
}

.login-icon {
	border-right: 1px solid #40598B;
	line-height: 1;
	position: absolute;
	top: -2px;
	bottom: 0;
	left: 0px;
	font-size: 42px;
	width: 40px;
}

.vk-logo{
	background-image: url(../images/icons/vk.svg);
	background-size: 33px;
	background-repeat: no-repeat;
	background-position: 3px 4px;
}

.devider{
	margin: 10px 0 0 0;
}

.forgot-password{
	font-size: 11px;
	margin-bottom: 10px;
	position: relative;
	top: -10px;
}