$text-color: rgb(153, 153, 153);
$subtext-color: #B3B3B3;
$active-text-color: #00AAEC;
$border-color: #CCCCCC;

.wrapper{
	top: 51px;
	position: relative;
	margin: 0;
}

.panel{
	h2{
		font-size: 1.3rem;
		margin-bottom: 20px;
		padding-top: 15px;

	}
}

.top-bar{
  ul{
    margin-left: 0;
  }
  li{
    margin-left: 0;
  }
}

#search-top-container{
	position: absolute;
	height: 40px;
	margin: 5px 0 0 40px;
	color: $label-color;
	border: solid 1px;
	
}
@media screen and (max-width: 640px){
	#search-top-container{
		margin-left: 0;
		width: 204px;
		height: 40px;
		margin: 19px 0 0 -5px;
	}
}
@media screen and (min-width: 720px){
	#search-top-container{
		width: 360px;
	}
}

#index-hero-search{
	height: 48px;
	margin: 0 auto;
	color: $label-color;
	border: solid 1px;
	border-radius: $global-radius;
	background-color: #fff;
	max-width: 420px;
}
#index-hero-search-input{
	border: none;
	color: $body-font-color;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
}

#search-top{
	border: none;
	color: #808080;
	background-color: #FFF;
	font-size: 0.8rem;
	border-radius: 0;
	box-shadow: none;
	padding-right: 8px;
	font-weight: 100;

	@media screen and (max-width: 640px){
		padding-top: 3px;
		font-size: 0.8rem;
	}
}

.index-search-button,
.search-button{
	background-image: url("../images/icons/fi-magnifying-glass.svg");
	background-repeat: no-repeat;
	background-size: 2.2rem;
	background-position: 12px;
	float: right;
	width: 60px;
	height: 38px;
	padding: 0;
	top: 0px !important;
}
@media only screen and (max-width: 640px){
	.search-button{
		width: 50px;
		height: 40px;
		background-position: 8px 3px;
	}
}

.login {
	background: none;
	border: solid 1px #252525;
	float: right;
	bottom: 48px;
	color: #252525;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}

@media screen and (max-width: 640px){
	.login {
		bottom: -19px;
	}
}

.index-login{
	background: #fff;
	border: solid 1px #fff;
	height: 40px;
	color: $body-font-color;
	padding-top: 10px !important;
	top: 16px;
	right: 5px;
	position: absolute;
}

.subtitle{
	font-size: 20px;
	color: #5E5E5E;
	line-height: 2.5rem;
	font-weight: 100;
	margin-bottom: 8px;
}



.custom-btn{
	color: $primary-color;
	background: white;
	border: solid 1px $primary-color;
	border-radius: $global-radius;
	margin: 20px auto;
}

.centered{
	margin: 0 auto;
	display: table;
}

.screen-width{
	max-width: none !important;
}

body{
	overflow-x: hidden;
}

.contain-to-grid{
	height: 55px;
}

.site-home {
    background: url(../images/demo/OlderCoupleHero-9c308d2531b189c3ffed99e732408fa4.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    min-height: 500px;
    padding-top: 15%;
    .row{
    	margin: 0;
    }
}



header{
    display: block;
    height: 50px;
}

.logo {
    display: inline-block;
    height: 55px;
    background-image: url(../images/demo/logo-whitestroke.svg);
    background-repeat: no-repeat; 
    padding-left: 60px;   
    margin-top: 10px;

    h1{
		color: white;
		font-family: 'Open Sans', sans-serif;
    	font-weight: 700;
    	font-size: 1.4rem;
    	line-height: 44px;
	}
}


.subheader{
	color: white;
	font-weight: 300;
	text-shadow: 1px 1px 1px black;
}

.main-header{
	margin-top: 100px;
	margin-bottom:20px;
	text-align: center;
	font-weight: 800;
	color: white;
	font-size: 2.2rem;
	line-height: 3rem;
	text-shadow: 1px 1px 1px black;
}

@media only screen and (max-width: 480px){
	.main-header{
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-top:25px;
	}
}



.content{
	box-shadow: 0 0px 18px -2px rgba(0, 0, 0, 0.5);
}

.block-header{
	background-color: rgb(63, 169, 245);
	margin: -10px;
	margin-bottom: 0 !important;
	color: white !important;
	text-align: center;
	font-size: 1em;
	font-weight: 300;
	padding:20px 0 20px 0;

}

.thumb-list{
	background-color: white;
}

.thumb{
}

.icon{
	width: 74px;
	height: 74px;
	background-repeat: no-repeat;
	margin: 0 auto;
	text-align: center;
	line-height: 180px;
}

.steak{
	background-image: url(../images/icons/icon-steak.svg);
}
.burger{
	background-image: url(../images/icons/icon-burger.svg);
}
.pizza{
	background-image: url(../images/icons/icon-pizza.svg);
}
.wok{
	background-image: url(../images/icons/icon-wok.svg);
}
.sushi{
	background-image: url(../images/icons/icon-sushi.svg);
}
.spagetti{
	background-image: url(../images/icons/icon-spagetti.svg);
}

.filter{
	padding-bottom: 40px;

	h2{
		text-align: center;
		font-size: 1em;
		font-weight: 300;
		padding:15px 0 10px 0;
	}

	.active{
		background: $primary-color;
		color: white;
		border: solid 1px $primary-color;
	}
}

.right{
	float: right;
}


.filter-subheader{
	font-size: 0.8em;
	margin-bottom: 1em;
	margin-top: 0.7em;
}

.badge{
	
	border-radius: $global-radius;
	padding: 6px 12px 7px 12px;
	font-size: 14px;
	margin-bottom:4px;
	background: linear-gradient(to top, #F5F5F5, #FFF);
	color: $body-font-color;
	border: solid 1px #ccc;
	display: inline-block;
	line-height: 1;
}


.article-slider{
	box-shadow: 0 -2px 10px 0px rgba(0, 0, 0, 0.4),
				0 2px 10px 0px rgba(0, 0, 0, 0.4);
	padding-bottom: 15px;
}

.logo__grey{
	display: inline-block;
	height: 42px;
	width: 42px;
	background-image: url(../images/logo-grey.svg);
	background-repeat: no-repeat;
	margin: 0 auto;
}

.header{
	padding-top: 0;
}

.restourant-bg{
	display: block;
	position: absolute;
	z-index: -1000;
	top: 0;
}


.element-bg{	
	display: inline-block;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}

.img-1{
	background: url(../images/demo/site-home-bg.jpg);
	background-size: cover;
}
.img-2{
	background: url(../images/demo/pizza.jpg);
	background-size: cover;
}
.img-3{
	background: url(../images/demo/ow-07.jpg);
	background-size: cover;
}
.img-4{
	background: url(../images/demo/hamburger.jpg);
	background-size: cover;
}
.img-5{
	background: url(../images/demo/Food-Table.jpg);
	background-size: cover;
}
.img-6{
	background: url(../images/demo/521727.jpg);
	background-size: cover;
}

.lp-header{
	margin: 40px 0;
	font-weight: 100;
}

.lp-panel{
	border-style: solid;
	box-shadow: none;
}

.orange{
	
	background-color: #FFA500;
}

.violet{
	background-color: #B63CDD;
}

.white{
	background-color: rgba(250,250,250,0.9);
}

.white,
.orange,
.green,
.violet{
	h3{
		font-weight: 700;
	}
	h3,p{color: $header-font-color;}
}

.top-bar__lp{
	z-index: 99;
	position: absolute;
	top: 0;
}

.fr-button,
.button{
	i{
		font-size: 1.3rem;
		margin-right: 15px;
		line-height: 0rem;
		top: 4px;
		position: relative;
	}
}

// Стили футера 

.footer{
	margin-bottom: 20px;
	a{
		p{
			font-weight: 500;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		color: #808080;
	}
	a:focus,
	a:hover{
		text-decoration: underline;
	}
}

// Cтили посадочной страницы

.index-page__pic{
	height: 150px;
	overflow: hidden;
	margin-top: 10px;
}

.right-side{
	background: #E4E4E4;
}

.contain-to-grid{
	height: 80px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.panel{

}

.show-more-btn{
	margin-bottom: 10px;
	margin-top: 10px;
}

.magnifying-glass{
	background: #CFCACA;
	.fi-magnifying-glass{
		font-size: 2.3rem !important;
		color: #fff !important;
		margin: 0 !important;
		top: 0 !important;
	}
}

.camera{
	background: #CFCACA;
	.fi-camera{
		font-size: 2.3rem !important;
		color: #fff !important;
		margin: 0 !important;
		top: 0 !important;
	}
}

.filter-element{
	border: none !important;
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);

	.inline-list{
		margin-bottom: 0;
		margin-left: -4px;
	}

	.filter-element__button{
		font-size: 14px;
		padding-top: 4px;
		padding-bottom: 6px;
	}

	.filter-element__badges{
		margin-left: 5px;
		margin-bottom: 5px;

		.badge{
			margin-bottom: 0 !important;
			padding-right: 6px;
		}

		em{
			position: relative;
			margin-left: 14px;
			color: #E0E0E0;
			text-decoration: none;
			font-size: 25px;
			vertical-align: middle;
			font-style: normal;
			font-weight: 700;
			height: 16px;
			display: inline-block;
			line-height: 0.6;
		}
	}

	.filter-element__sort{
		
		color: $subtext-color;
		margin-top: 20px;
		margin-bottom: -10px;
		
		.active{
			box-shadow: inset 0 -2px $active-text-color;
			font-weight: 400;
		}

		li{
			margin-left: 0;
			font-size: 12px;
			
		}
		
		.filter-element__sort_header{
			padding-left: 5px;
		}

		.filter-element__sort_title{
			padding-bottom: 5px;
			padding-right: 10px;
			padding-left: 10px;
		}

		a{
			color: $active-text-color;
		}

		a:hover,
		a:focus{
			box-shadow: inset 0 -2px $active-text-color;
			cursor: pointer;
			text-decoration: none;
		}
		
		.filter-element__sort_title_border__li{
			border-left: solid 1px #CCC;
			border-right: solid 1px #CCC;
			height: 16px;
			top: 1px;
			position: relative;
		}
		.filter-element__sort_title_border{
			top: -3px;
			position: relative;
		}
	}

}

.main-element{

	.main-element_left-side{
		display: inline-block;
		width: 305px;
		background-color: lightblue;
	}

	.main-element_right-side{
		display: inline-block;
		width: 175px;
		background-color: red;
	}

	.main-element__distantion{
		color: $subtext-color;
		float: right;

		img{
			position: relative;
			margin-top: -10px;
			top: 3px;
			left: -3px;
		}
	}

	.main-element__distantion,
	.main-element__restuarant{
		font-size: 12px;
	}

	.main-element__content{
		@media only screen and (min-width: 40.063em){
			width: 384px;
		}
	}

	.main-element__meal{
		margin: 0px -4px 12px -11px;
	}

	.main-element__rating{
		border-color: $border-color;
		color: #B3B3B3;
	}

	.main-element__meal-name{
		padding: 10px;
		font-size: 18px;
		font-weight: 400;
		min-height: 40px;
		line-height: 1.2;
	}

	.main-element__rating-leftborder{
		border-left: 1px solid;
		border-color: $border-color;
	}

	.main-elemen__rating-part{
		display: block;
		font-size: 11px;
		line-height: 1.2;
	}

	.main-element__rating-price{
		// font-size: 1.4rem;
		margin: 2px auto;
	}

	.main-element__rating-box{
		margin: 0 auto;
		width: 63px;

		.main-element__rating-rating{
			display: inline-block;
			position: absolute;
			top: 1px;
		}

		.main-element__rating-rating-right{
			display: inline-block;
			font-weight: 600;
			font-size: 20px;
			color: red;
			float: right;
			margin: 3px;
		}
	}

	.search-page-thumb {
		float: right;
		width: 150px;
		height: 150px;
		margin-top: 10px;
	}

	.main-element__comment{
		font-size: 12px;
		line-height: 1.2;
	}
	
	.main-element__friends-header{
		font-size: 12px;
		line-height: 1.2;
		color: #B3B3B3;
		margin-top: 8px;
		display: inline-block;
	}

	.main-element__friends{
		margin-top: 5px;
	}

	.main-element__friends-avatar{
		width: 35px;
		height: 35px;
		display: inline-block;

		img{
			border-radius: 3px;
		}
	}
}


.ad{
	background-color: #FFF;
	border-color: #FBB03B;

	.ad__header{
		margin-bottom: 10px;
	}

	.ad__name{
		font-weight: 600;
		font-size: 11px;
		float: left;	
		color: #FBB03B !important;
	}

	.ad__badge{
		font-weight: 600;
		font-size: 11px;
		color: #FBB03B;
		float: right;
	}

	.ad__thumb{
		float: right;
		width: 100%;
		border-radius: 3px;
	}

	.ad__offer{
		font-weight: 400;
		color: #FBB03B;
		font-size: 15px;
	}

	p{
		color: $body-font-color;
		font-size: 11px;
	}

	hr{
		border-color: #FBB03B;
		margin: 10px 0 10px 0;
	}
}

.ad:hover, :focus{
	background-color: #FFF5CB;
}

.offer{
	background-color: #FFF5CB;
	border: solid 1px #FBB03B;
	margin-left: -14px;
	margin-bottom: 0;

	.offer__header{
		margin-bottom: 10px;
	}

	.offer__name{
		font-weight: 600;
		font-size: 11px;
		float: left;	
		color: #FBB03B !important;
	}

	.offer__badge{
		font-weight: 600;
		font-size: 11px;
		color: #FBB03B;
		float: left;
	}

	.offer__thumb{
		float: right;
		width: 100%;
		border-radius: 3px;
	}

	.offer__offer{
		font-weight: 400;
		color: #FBB03B;
		font-size: 15px;
	}

	p{
		color: $body-font-color;
		font-size: 11px;
	}
}

.offer:hover, :focus{
	background-color: #FFF5CB;
	border: solid 1px #FBB03B;
}

.article{

	.article-hero{
		height: 400px;

		h2{
			font-size: 2.6rem;
			font-weight: 800;
			line-height: 3.6rem;
			color: #FFF;
			text-shadow: 0px 0px 10px #000;
		}
		
	}

	.article-hero-image{
		display: block;
		width: 100%;
		height: 400px;
		overflow: hidden;
	}

	.article__hero__header{
		position: relative;
		top: -158px;
	}

	.article__subheader{
		font-weight: 700;
		font-size: 1.8rem;
		margin-top: 40px;
		line-height: 1.4;
	}

	h3{
		font-weight: 700;
		font-size: 1.8rem;
		margin-top: 40px;
		margin-bottom: 40px;
		line-height: 1.4;
	}

	.article-image{
		display: block;
		width: 100%;
		height: 400px;
		overflow: hidden;
		margin-bottom: 40px;
	}

	p{
		font-size: 1.4rem;
	}
}


.food-description{
	border: none !important;
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 0 0.500rem 0 0.625rem;
	margin-top: 0;

	.food-description__for-small-screen{
		@media only screen and (max-width: 40em){
			background: #F0F0F0;
			border: solid 1px #CCC;
			padding: 0;
			margin: 0px 1px 0px 1px;
			box-shadow: inset 1px 1px #FFF, inset -1px -1px #FFF;
			border-radius: 3px;
		}
	}

	.food-description__cafe{
		background: #F1F1F1;
		height: 100px;
		border-left: solid 1px $border-color;
		box-shadow: inset 1px 0 #fff;

		@media only screen and (max-width: 64em){
			box-shadow: none;
			border: none;
			height: auto;
		}

		@media only screen and (max-width: 40em){
			background: #FFF;
		}
	}

	.food-description__cafe__destination{
		border-left: solid 1px $border-color;
		box-shadow: inset 1px 0 #fff;
		font-size: 25px;
		color: $subtext-color;
		padding: 34px 8px;

		img{
			margin-right: 10px;
			height: 34px;
		}

		@media only screen and (max-width: 64em){
			padding: 15px 8px;
			font-size: 15px;
		}
	}

	.food-description__cafe__name{
		font-size: 25px;
		line-height: 1.4;

		@media only screen and (max-width: 64em){
			padding: 15px 8px;
			font-size: 15px;
		}
	}

	.food-description_left-side{
		display: inline-block;
		width: 305px;
		background-color: lightblue;
	}

	.food-description_right-side{
		display: inline-block;
		width: 175px;
		background-color: red;
	}

	.food-description__distantion{
		color: $subtext-color;
		float: right;

		img{
			position: relative;
			margin-top: -10px;
			top: 3px;
			left: -3px;
		}
	}

	.food-description__distantion,
	.food-description__restuarant{
		font-size: 12px;
	}

	.food-description__content{
	}

	.food-description__meal{
		margin-top: 15px;
		
		hr{
			margin: 0 0 8px 0;
		}

		@media only screen and (min-width: 40.063em) and (max-width: 64em){
			margin: 8px 0;
		}

		@media only screen and (max-width: 40em){
			margin: 8px 0 0 0;
		}		
	}

	.food-description__rating{
		border-color: $border-color;
		color: #B3B3B3;
		height: 34px;
		margin-top: 25px;
		font-size: 13px;

		@media only screen and (max-width: 40em){
			margin: 15px 0 6px 0;
		}
	}

	.food-description__meal-name{
		padding: 10px;
		font-size: 18px;
		font-weight: 400;
		min-height: 40px;
		line-height: 1.2;
	}

	.food-description__rating-leftborder{
		border-left: 1px solid;
		border-color: $border-color;
	}

	.food-description__rating-price{
		
		@media only screen and (max-width: 40em){
			margin: 8px;
		}

		.inline-list{
			margin: 0;
		}

		.filter-element__badges-title{
			margin-bottom: 5px;
			color: #B3B3B3;
			font-size: 11px;
		}
	}

	.food-description__rating-box{
		margin: 0 auto;
		width: 80px;

		.food-description__rating-rating{
			display: inline-block;
			position: absolute;
		}

		.food-description__rating-rating-right{
			display: inline-block;
			font-weight: 600;
			font-size: 28px;
			color: red;
			float: right;
		}
	}

	.search-page-thumb {
		float: right;
		width: 150px;
		height: 150px;
		margin-top: 10px;
	}

	.food-description__comment{
		font-size: 12px;
		line-height: 1.2;
	}
	
	.food-description__friends-header{
		font-size: 12px;
		line-height: 1.2;
		color: #B3B3B3;
		margin-top: 8px;
		display: inline-block;
	}

	.food-description__friends{
		margin-top: 5px;
	}

	.food-description__friends-avatar{
		width: 35px;
		height: 35px;
		display: inline-block;

		img{
			border-radius: 3px;
		}
	}


}

.rate-panel{
	padding: 0;

	.row{
		margin: 0;
	}

	.rate-panel__leftside{
		background: #7AC943;
		font-size: 1rem;
		color: #FFF;
		padding: 31px;
	}

	.rate-panel__ul{
		margin: 15px auto;
		width: 225px;

		li{
			margin-left: 0;
		}
	}

	.rate-panel__face-1{
		img{
			max-width: none;
		}
		
		.smile{
			overflow: hidden;
			width: 39px;
			height: 39px;
		}
	}
	.rate-panel__face-2{
		background: url(../images/icons/icon-ratefaces.svg) -37px 0;
		height: 47px;
		width: 45px;
		background-repeat: no-repeat;
	}
	.rate-panel__face-3{
		background: url(../images/icons/icon-ratefaces.svg) -82px 0;
		height: 47px;
		width: 45px;
		background-repeat: no-repeat;
	}
	.rate-panel__face-4{
		background: url(../images/icons/icon-ratefaces.svg) -127px 0;
		height: 47px;
		width: 45px;
		background-repeat: no-repeat;
	}
	.rate-panel__face-5{
		background: url(../images/icons/icon-ratefaces.svg) -172px 0;
		height: 47px;
		width: 45px;
		background-repeat: no-repeat;
	}
}

.comment-form{
	margin-bottom: 15px;
	.comment-form__triangle{
		bottom: -10px;
		left: 26px;
		position: absolute;
	}
}

.comment-element{
	img{
		border-radius: 60px;
		max-height: 60px;
	}

	.comment-details{
		font-size: 13px;
		font-weight: 600;
		margin-bottom: 10px;
		display: inline-block;
	}
	.date{
			font-weight: 100;
			font-size: 13px;
			color: $subtext-color;
			margin-left: 15px;
		}
}

.login-button{
	position: relative;
	top: 5px;
}

.map-panel{
	padding: 0;
	height: 180px;
	overflow: hidden;

	.map-panel__adress{
		height: 180px;
	}

	.map-panel__adress-inner{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
  		-ms-transform: translate(-50%, -50%);
  		-o-transform: translate(-50%, -50%);
	}

	.map-panel__adress-adress{
		// position: absolute;
		top: 50%;
		// left: 50%;
		// width: 70%;
		height: 50%;
		transform: translate(0%, -50%);
		-webkit-transform: translate(0%, -50%);
		-moz-transform: translate(0%, -50%);
  		-ms-transform: translate(0%, -50%);
  		-o-transform: translate(0%, -50%);

		ul{
			margin: 0;
			position: absolute;
			top: 50%;
			width: 95%;
			transform: translate(0%, -50%);
			-webkit-transform: translate(0%, -50%);
			-moz-transform: translate(0%, -50%);
  			-ms-transform: translate(0%, -50%);
  			-o-transform: translate(0%, -50%)
		}
	}

	.map-panel__adress__icon{
		position: absolute;
		top: 50%;
		/* left: 40%; */
		height: 30px;
		/* background-color: #127512; */
		transform: translate(0%, -50%);
		-webkit-transform: translate(0%, -50%);
		-moz-transform: translate(0%, -50%);
  		-ms-transform: translate(0%, -50%);
  		-o-transform: translate(0%, -50%);

		img{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30%;
			height: 30px;
			transform: translate(0%, -50%);
			-webkit-transform: translate(0%, -50%);
			-moz-transform: translate(0%, -50%);
  			-ms-transform: translate(0%, -50%);
  			-o-transform: translate(0%, -50%)
		}
	}
}

.menu-header{

	.menu-header__badges{
		.active{
			background: $primary-color;
			color: white;
			border: solid 1px $primary-color;
		}
	}

	.menu-header__menu-title{
		font-size: 12px;
		color: #B3B3B3;
	}
}

.in-cafe-page{

	.in-cafe-page__meal-name {
		padding-bottom: 10px;
		font-size: 18px;
		font-weight: 400;
		min-height: 40px;
		line-height: 1.2;
	}
}

.landing-steps{
	padding: 0 10px;

	img{
		width: 230px;
		margin: 0 auto;
		display: block;
		margin-top: 20px;
	}

	h3{
		font-size: 1.5rem;
		color: $active-text-color;
		text-align: center;
		font-weight: 600;
		margin-top: 20px;
	}

	p{
		font-size: 1.1rem;
		margin-top: 20px;
	}
}